body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #FFFFFF;
    font-family: 'Oswald',sans-serif;
    font-size: 13px;
    overflow: hidden;
    text-transform: uppercase;
    margin: 0px;
}
#viewport {
    overflow: hidden;
}
#album-div {
}
.layout-row {
    height: 202px;
    /*background-color: #CC0000;*/
}

/*
.placeholder {
    border:1px solid #FFF;
    display:block;
    float:left;
    height:200px;
    width:200px;
}
.placeholder img {
    height:200px;
    width:200px;
} 
*/
.album {
    border:1px solid #FFF;
    display:block;
    float:left;
    height:200px;
    width:200px;
}
.album a {
    display:block;
    position:relative;
    height:200px;
    width:200px;
    overflow:hidden;
/*
    background: #fff url(../img/thumb_bg.jpg) no-repeat center center;
*/
    background-size: 110% 110%;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.album img {
    height:200px;
    width:200px;
    opacity: 0.95;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}
.album a:hover {
    background-size: 100% 100%;
}

.album a:hover img {
    opacity: 0.8;
}

.album > a > span{
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    line-height: 22px;
    text-align: center;
    font-size: 11px;
    left: 0px;
    z-index: 1;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #FFFFFF;
}
.album > a > span.a{
    display: none;
    top: -20px;
}
.album > a > span.b{
    display: none;
    bottom: -20px;
}

.album a:hover > span.b{
    display: block;
    bottom: 1px;
    background: #000;
    opacity: .80;
}
.album a:hover > span.a{
    display: block;
    top: -1px;
    background: #000;
    opacity: .80;
}

#content-preview {
    z-index: 1;
    position: absolute;
    display: none;
}
#content-wrapper {
    height: 100%;
    width: 100%;
}

#album-art {
    float: left;
    display: block;
    height: 100%;
    width: 100%;
    z-index: 3;
/*    max-width: 50%; */
}
#content-bg {
    opacity: 0.9;
    position: fixed;
    z-index: -1;
    background-color: #000000;
}

.song-track {
    clear: left;
    float: left;
    position: relative;
    margin-left: 10px;
    width: 20px;
    color: #7d7d7d;
}

.song-name {
    display: block;
    float: left;
    width: 245px;
}

#rightbar {
    display: block;
    position: absolute;
    top: 78px;
    right: -2px;
    bottom: 22px;
    background-color: #444444;
}

#content-songs {
    width: 300px;
    height: 100%;
    display: block;
    font-size: 18px;
    padding-top: 50px;
}

#nowplaying {
    width: 300px;
    height: 100%;
}
#np_np {
    margin-top: 20px;
    color: #666666;
    font-size: 38px;
    margin-right: 40px;

}
#np_artist {
}
#np_album {
}
#np_title {
    font-size: 24px;
    margin-bottom: 10px;
}
.np_info {
    font-size: 17px;
    margin-right: 20px;
    margin-left: 20px;
}
#nowplaying span {
    float: right;
    clear: right;
    text-align: right;
}
#player-controls {
    position: absolute;
    left: 541px;
    top: 24px;
}

#player-controls a {
    display: block;
    float: left;
    height: 48px;
    width: 48px;
    margin-left: 30px;
}
#pc-play { background: url("../img/icon_play_lp.png") no-repeat scroll 0 0 transparent; }
#pc-stop { background: url("../img/icon_stop_lp.png") no-repeat scroll 0 0 transparent; }
#pc-next { background: url("../img/icon_next_lp.png") no-repeat scroll 0 0 transparent; }
#pc-prev { background: url("../img/icon_prev_lp.png") no-repeat scroll 0 0 transparent; }
#pc-pause { background: url("../img/icon_pause_lp.png") no-repeat scroll 0 0 transparent; }

#np_handle {
    display: none;
    background-color: #CCCCCC;
    height: 100%;
    position: absolute;
    width: 20px;
}

#np_albumart {
    width: 200px;
    height: 200px;
    margin: 30px 25px 40px 53px;
    border-style: solid;
    border-width: 1px;
    border-color: #CCC;

}

#np_progress {
  border-color: #AAAAAA;
  border-style: solid;
  border-width: 1px;
  height: 11px;
  left: 53px;
  position: relative;
  top: -35px;
  width: 200px;
}
#np_progress_fill {
  background: none repeat scroll 0 0 #AAFF11;
  height: 9px;
  left: 1px;
  position: relative;
  top: 1px;
  width: 0px;
  /* width: 197px; */
}
#album-title {
    font-size: 33px;
    line-height: 33px;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

#content-artist {
    font-size: 33px;
    line-height: 33px;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

#play-album {
    display: block;
}
#album-info {
 /*   position: fixed;*/
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
}
#info-top {
    display: none;
    float: left;
}
#info-left {
    display: none;
    float: left;
    clear: left;
}
#info-mid {
    display: block;
    float: left;
}
#info-right {
    display: none;
    float: left;
}
#info-bottom {
    display: none;
    float: left;
    clear: left;
}


#album-title:hover {
    color: #AAAAAA;
}
#content-songs a {
    color: #EEEEEE;
}
#content-songs a:hover {
    color: #AAAAAA;
}

#topbar {
    height: 78px;
    background: transparent url(../img/stereoid-logo.png) no-repeat 0px -6px;
}

#bottombar {
    height: 22px;
}

#loginform {
    margin-top: 20px;
}
input.u1 {
    padding: 6px 12px;
    font-size: 1.6em;
    color: #787878;
    letter-spacing: -0.02em;
    text-shadow: 0px 1px 0px #fff;
    outline: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#ffffff));
    background: -moz-linear-gradient(top,  #e0e0e0,  #ffffff);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #717171;
    -webkit-box-shadow: 1px 1px 0px #efefef;
    -moz-box-shadow: 1px 1px 0px #efefef;
    box-shadow:  1px 1px 0px #efefef;
}
#pwblock { margin-left: 20px; }

#login {float: left;}
#rememberme {float: right; color: #000;}

input#submitbtn { font-size: 1.3em; padding: 4px 9px; font-family: Arial, Helvetica, sans-serif; letter-spacing: -0.05em; color: #444; }
input.fail { -webkit-box-shadow: 0px 0px 5px #ff4848; -moz-box-shadow: 0px 0px 5px #ff4848; box-shadow: 0px 0px 5px #ff4848; }
input:focus { -webkit-box-shadow: 0px 0px 5px #007eff; -moz-box-shadow: 0px 0px 5px #007eff; box-shadow: 0px 0px 5px #007eff; }
