body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #FFFFFF;
    font-family: 'Oswald',sans-serif;
    font-size: 13px;
    overflow: hidden;
    text-transform: uppercase;
    margin: 0px;
}
#viewport {
    overflow: hidden;
}
#album-div {
}
.layout-row {
    height: 202px;
}
#update-art {
  background-color: #333333;
  display: block;
  height: 32px;
  position: fixed;
  width: 32px;
}
#arturlform {
}
.album {
    border:1px solid #FFF;
    display:block;
    float:left;
    height:200px;
    width:200px;
}
.album a {
    display:block;
    position:relative;
    height:200px;
    width:200px;
    overflow:hidden;
/*
    background: #fff url(../img/thumb_bg.jpg) no-repeat center center;
*/
    background-size: 110% 110%;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.album img {
    height:200px;
    width:200px;
    opacity: 0.95;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}
.album a:hover {
    background-size: 100% 100%;
}

.album a:hover img {
    opacity: 0.8;
}

.album > a > span{
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    line-height: 22px;
    text-align: center;
    font-size: 11px;
    left: 0px;
    z-index: 1;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #FFFFFF;
}
.album > a > span.a{
    display: none;
    top: -20px;
    overflow: hidden;
}
.album > a > span.b{
    display: none;
    bottom: -20px;
    overflow: hidden;
}

.album a:hover > span.b{
    display: block;
    bottom: 1px;
    background: #000;
    opacity: .80;
}
.album a:hover > span.a{
    display: block;
    top: -1px;
    background: #000;
    opacity: .80;
}

#content-preview {
    z-index: 1;
    position: absolute;
    display: none;
}
#content-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#album-art {
    float: left;
    display: block;
    height: 100%;
    width: 100%;
    z-index: 3;
/*    max-width: 50%; */
}
#content-bg {
    opacity: 0.9;
    position: fixed;
    z-index: -1;
    background-color: #000000;
}

.song-track {
    clear: left;
    float: left;
    position: relative;
    margin-left: 10px;
    width: 14px;
    color: #7d7d7d;
}

.song-name {
    display: block;
    float: left;
    width: 255px;
    margin-left: 10px;
}

#rightbar {
    display: block;
    position: absolute;
    top: 78px;
    right: -2px;
    bottom: 22px;
    background-color: #444444;
    text-align: center;
    overflow: hidden;
}

#songs-songs {
    text-align: left;
    width: 300px;
    height: 100%;
    display: block;
    font-size: 18px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#nowplaying {
    width: 300px;
}
#playlist {
    width: 300px;
}
.sidebar-header {
    margin-top: 20px;
    color: #666666;
    font-size: 38px;
}
#np-next.minimized {
  background: url("../img/np-right.png") no-repeat scroll 0 0 transparent;
  height: 73px;
  left: 94px;
  opacity: 0.3;
  position: absolute;
  top: 18px;
  width: 12px;
}
#filter {
    position: absolute;
    right: 0px;
    bottom: 0px;
}
#content-songs {
    overflow: hidden;
}
#np-next.minimized:hover {
  opacity: 0.5;
}
#np-play.paused {
    background: url("../img/icon_play_pause_lp.png") no-repeat scroll 0 0 transparent;
}
#np-play.playing {
    background: url("../img/icon_play_pause_lp.png") no-repeat scroll 0 -48px transparent;
}
#np-play.minimized {
  height: 48px;
  left: 31px;
  opacity: 0.35;
  position: absolute;
  top: 31px;
  width: 48px;
}
#np-play.minimized:hover {
  opacity: 0.6;
}

#np-prev.minimized {
  background: url("../img/np-left.png") no-repeat scroll 0 0 transparent;
  height: 73px;
  left: 5px;
  opacity: 0.3;
  position: absolute;
  top: 18px;
  width: 12px;
}
#np-prev.minimized:hover {
  opacity: 0.5;
}

#np-controls a {
  display: block;
}

#np-prev.normal {
  float: left;
  height: 48px;
  width: 48px;
  background: url("../img/icon_prev_lp.png") no-repeat scroll 0 0 transparent;
}

#np-play.normal{
  float: left;
  height: 48px;
  width: 48px;
  margin-left: 32px;
}

#np-next.normal {
  float: left;
  height: 48px;
  width: 48px;
  background: url("../img/icon_next_lp.png") no-repeat scroll 0 0 transparent;
  margin-left: 32px;
}
/* minimized */
#np_content {
}
.r_song {
  width: 300px;
  height: 88px;
  bottom: 0px;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: -1px;
  position: relative;
}
#np_content.minimized {
  position: absolute;
  width: 300px;
  height: 103px;
  bottom: 0px;
  border-top-style: solid;
  border-top-width: 1px;
  background-color: #27282E;
}
#np-controls {
    margin-left: 50px;
    margin-top: 5px;
}
#np_handle {
    display: none;
    background-color: #CCCCCC;
    height: 100%;
    position: absolute;
    width: 20px;
}

#np_title.minimized {
  font-size: 19px;
  height: 23px;
  margin-bottom: 10px;
  margin-top: 9px;
}
#np_title.normal {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.pl_song.playing {
  width: 300px;
  position: relative;
}
.pl_song.normal {
  width: 300px;
  height: 88px;
  bottom: 0px;
/*
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: -1px;
*/
  position: relative;
}
.pl_title.playing {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 20px;
  clear: right;
  float: right;
  text-align: right;
}
.pl_title.normal {
  font-size: 19px;
  height: 23px;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-right: 12px;
  overflow: hidden;
  width: 255px;
  clear: right;
  float: right;
  text-align: right;
}
.pl_info.playing {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 17px;
}
.pl_info.normal {
  clear: right;
  float: right;
  text-align: right;
}
.pl_info {
  clear: right;
  float: right;
  text-align: right;
}
.rs_title {
  font-size: 19px;
  height: 23px;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-right: 12px;
  overflow: hidden;
  width: 255px;
  clear: right;
  float: right;
  text-align: right;
}
.rs_info {
  color: #CCCCCC;
  font-size: 14px;
  margin-right: 12px;
  overflow: hidden;
  width: 255px;
  height: 21px;
}
.np_info.minimized {
  font-size: 14px;
  margin-right: 12px;
  overflow: hidden;
  width: 175px;
  height: 21px;
}
.np_info.normal {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 17px;
}
.rs_info {
  clear: right;
  float: right;
  text-align: right;
}
.np_info {
  clear: right;
  float: right;
  text-align: right;
}
#np_albumart.minimized {
  height: 71px;
  width: 71px;
  position: absolute;
  top: 18px;
  left: 19px;
  margin: 0px;
}
#np_albumart.normal {
  height: 200px;
  margin: 30px 25px 5px 32px;
  width: 200px;
}
#np_albumart {
  border-color: #CCCCCC;
  border-style: solid;
  border-width: 1px;
}
#np_progress.minimized {
  display: none;
}
#np_progress.normal {
  border-color: #AAAAAA;
  border-style: solid;
  border-width: 1px;
  height: 11px;
  left: 53px;
  position: relative;
  width: 200px;
}
#np_progress_fill {
  background: none repeat scroll 0 0 #AAFF11;
  height: 9px;
  left: 1px;
  position: relative;
  top: 1px;
  width: 0px;
}
#album-title {
    font-size: 33px;
    line-height: 33px;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
}
#np_info_block {
}

#content-artist {
    font-size: 33px;
    line-height: 46px;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 10px;
}

#play-album {
    display: block;
}
#album-info {
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
}
#info-top {
    display: none;
    float: left;
}
#info-left {
    display: none;
    float: left;
    clear: left;
}
#info-mid {
    display: block;
    float: left;
}
#info-right {
    display: none;
    float: left;
}
#info-bottom {
    display: none;
    float: left;
    clear: left;
}
.result-album {
    width: 200px;
    float: left;
    margin: 37px 44px -20px;
}
.result-albumtop {
    width: 200px;
    height: 40px;
    text-align: center;
}
.result-albumbottom {
    width: 200px;
    height: 40px;
    text-align: center;
}
.result-play {
    display: block
}
.result-art {
    width: 200px;
    height: 200px;
}
.result-title {
}
.result-artist {
}



#album-title:hover {
    color: #AAAAAA;
}
#content-songs a {
    text-decoration: none;
    color: #CCFFCC;
    background-color: #555555;
    bottom: 4px;
    font-size: 75px;
    line-height: 78px;
    padding-right: 2px;
    margin-left: 3px;
    position: absolute;

}
#content-songs a:focus {
    outline: none;
}

#content-songs a:hover {
    color: #AAAAAA;
}

#topbar {
    height: 78px;
    background: transparent url(../img/stereoid-logo.png) no-repeat 0px -6px;
    position: relative;
}

#bottombar {
    height: 22px;
}

#loginform {
    margin-top: 20px;
}
input.u1 {
    padding: 6px 12px;
    font-size: 1.6em;
    color: #787878;
    letter-spacing: -0.02em;
    text-shadow: 0px 1px 0px #fff;
    outline: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#ffffff));
    background: -moz-linear-gradient(top,  #e0e0e0,  #ffffff);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #717171;
    -webkit-box-shadow: 1px 1px 0px #efefef;
    -moz-box-shadow: 1px 1px 0px #efefef;
    box-shadow:  1px 1px 0px #efefef;
}
#pwblock { margin-left: 20px; }

#login {float: left;}
#rememberme {float: right; color: #000;}

input#submitbtn { font-size: 1.3em; padding: 4px 9px; font-family: Arial, Helvetica, sans-serif; letter-spacing: -0.05em; color: #444; }
input.fail { -webkit-box-shadow: 0px 0px 5px #ff4848; -moz-box-shadow: 0px 0px 5px #ff4848; box-shadow: 0px 0px 5px #ff4848; }
input:focus { -webkit-box-shadow: 0px 0px 5px #007eff; -moz-box-shadow: 0px 0px 5px #007eff; box-shadow: 0px 0px 5px #007eff; }
